/* Ensuring all images have a width of 100% */
img {
    width: 100%; /* Set images to 100% width */
}


/* Title styling for each article */
article h2 {
    font-size: 2em; /* Make titles larger */
}

/* Style the first letter of paragraph in articles */
article p::first-letter {
    color: lightgray; /* Change color of first letter */
    font-size: 2em; /* Make first letter larger for drop cap */
}


/* Margin and border for article elements */
article {
    margin-bottom: 4rem; /* Bottom margin of 4rem */
    border-bottom: 1px solid lightgray; /* 1px solid border at the bottom */
    padding-bottom: 2rem; /* Padding at the bottom of 2rem */
}